@font-face{
    font-family: 'm-bold';
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
}
@font-face{
    font-family: 'm-regular';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}